.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  columns: #2e363e;
  display: flex;
  justify-content: space-evenly;
}

.nave__link {
  position: relative;
  color: inherit;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: none;
  }
}
.nav_notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 3px;
  margin: 2px 18px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav-ellipsis {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
